<div class="container">
  <div class="container_enbref">
    <div class="container_enbref_title">En Bref</div>
    <div class="container_enbref_bloc">
        <div class="container_enbref_bloc_item"> 
          <div class="container_enbref_bloc_item_chiffre">+{{valeur}}K</div>
          <div class="container_enbref_bloc_item_description">généré par nos clients</div>
        </div>
        <div class="container_enbref_bloc_item">
          <div class="container_enbref_bloc_item_chiffre">{{statisfactionValue}}%</div>
          <div class="container_enbref_bloc_item_description">statisfait</div>
        </div>
        <div class="container_enbref_bloc_item">
          <div class="container_enbref_bloc_item_chiffre">5 ans</div>
          <div class="container_enbref_bloc_item_description">d'expertise</div>
        </div>
    </div>
  </div>

  <div class="container_services">
    <div [ngClass]="{'container_services_item':true,'change_sense': i % 2 === 0 }"  *ngFor="let item of items; let i = index">
      <img [ngClass]="{'container_services_item_img':true, 'change_sense': i % 2 === 0}" [src]="item.urlPhoto" alt="">
      <img [ngClass]="{'test': true, 'change_sense': i % 2 === 1, 'svg_normal': true}" src="./../../../assets/images/dessin-1-desktop.svg" alt="">
      <img [ngClass]="{'test': true, 'change_sense': i % 2 === 1, 'svg_mobile': true}" src="./../../../assets/images/dessin-2-mobile-contour3.svg" alt="">
      <img [ngClass]="{'test': true, 'change_sense': i % 2 === 1, 'svg_mobile_thin': true}" src="./../../../assets/images/dessin-3-mobile-thin.svg" alt="">
      <div [ngClass]="{'container_services_item_bloc' : true}">
        <div class="container_services_item_bloc_title">{{item.title}}</div>
        <div class="container_services_item_bloc_subtitle">{{item.subtitle}}</div>
        <div class="container_services_item_bloc_description">
          <div class="container_services_item_bloc_description_content">
            {{item.description}}
          </div>
        </div>
        <div class="container_services_item_bloc_button" (click)="navigate(item.linkEnsavoirPlus)">
          <button class="button-29" role="button">en savoir +</button>
        </div>
      </div>
    </div>
  
  </div>
</div>


