<div class="container">
  <div class="container_enbref">
    <div class="container_enbref_title">En Bref</div>
    <div class="container_enbref_bloc">
        <div class="container_enbref_bloc_item"> 
          <div class="container_enbref_bloc_item_chiffre">+{{valeur}}K</div>
          <div class="container_enbref_bloc_item_description">généré par nos collaborateurs</div>
        </div>
        <div class="container_enbref_bloc_item">
          <div class="container_enbref_bloc_item_chiffre">{{statisfactionValue}}%</div>
          <div class="container_enbref_bloc_item_description">statisfait</div>
        </div>
        <div class="container_enbref_bloc_item">
          <div class="container_enbref_bloc_item_chiffre">5 ans</div>
          <div class="container_enbref_bloc_item_description">d'expertise</div>
        </div>
    </div>
  </div>

  <div class="container_services">
    <div class="container_services_item">
      <img class="container_services_item_img" src="./../../../assets/images/site-vitrine.jpg" alt="">
      <div class="container_services_item_bloc">
        <div class="container_services_item_bloc_title">Site vitrine</div>
        <div class="container_services_item_bloc_subtitle">Votre Portail vers le Succès en Ligne</div>
        <div class="container_services_item_bloc_description">
          Dans le monde numérique d'aujourd'hui, une présence en ligne n'est pas seulement un avantage, mais une nécessité. Notre service de création de "Site Vitrine" est conçu pour propulser votre entreprise sur le devant de la scène digitale, offrant une représentation élégante, professionnelle et sur-mesure de votre marque sur internet.
        </div>
      </div>
    </div>
  </div>
</div>


