.container_enbref{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.container_enbref_title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.container_enbref_bloc{
    min-width: 50%;
    display: flex;
    justify-content:space-between ;
    margin: auto;
}
.container_enbref_bloc_item{
    width: 33%;
}
.container_enbref_bloc_item_chiffre{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.container_enbref_bloc_item_description{
    text-align: center;
    width: 100%;
}

.container_services_item{
    position: relative;
}
.container_services_item_img{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 70vh;
    width: 40%;
}
.container_services_item{
    height: 70vh;
    width: 100%;
    background-color: beige;
    z-index: -2;
}
.container_services_item_bloc{
    background-color: white;
    position: absolute;
    top: 50%;
}



@media screen and (max-width:500px) {
    .container_enbref_bloc{
        min-width: 90%;
    }
}