<div class="container">
    <div class="container_gauche">
        <div class="container_gauche_text">
            <div class="container_gauche_text-title">MOWAM technologies</div>
            <div class="effect">
                <div class="container_gauche_text-subtitle">
                    {{text}}
                </div>
                <div [ngClass]="{'block_hide':true, hide: hide}">
                    <span class="block_hide-bar"></span>
                </div>
            </div>
            <div class="container_gauche_text-description">Osez faire confiance</div>
            <div class="container_gauche_text-description2">Trusted by beginners, marketers & professionals; Built with usability and performance in mind</div>
            <div class="container_gauche_text-button">Start Building</div>
            


        </div>
        <div class="container_gauche_insight">
            <div class="container_gauche_insight-ca"></div>
            <div class="container_gauche_insight-experience"></div>
        </div>
    </div>
    <div class="container_droite">
       <img src="./../../../assets/images/landing.jpg" alt="" class="container_droite_image"> 
    </div>
</div>






