.arriere_plan{
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--largeur-header));
    background-color: #ffffffb8;
    z-index: 0;
}

.container{
    display: flex;
    color: var(--color-landing-page);
}
.container_gauche{
    align-items: center;
    width: 100%;
    z-index: 1;
    height: calc(100vh - var(--largeur-header));
    display: flex;
    justify-content: center;
}
.container_gauche_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.container_gauche_text-title{
    font-size: 40px;
}
.container_gauche_text-description{
    font-size: xx-large;
    color: var(--color-second);
}
.container_gauche_text-description2{
    margin: auto;
    width: 90%;
    font-size: larger;
    backdrop-filter: blur(3px);
    padding: 10px 10px;
    border: 1px solid var(--color-second);
    border-radius: 9px;
}

.effect{
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.container_gauche_text-subtitle{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    flex-shrink: 5;
}
.container_gauche_text-subtitle_souligne{
    position: absolute;
    bottom: 0;
    width: 160px;
    height: 1px;
    background-color: var(--color-second);
}

.container_gauche_text-subtitle_content{
    align-self: center;
}
.container_gauche_text-block1, .container_gauche_text-block2{
    flex-shrink: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.5s ease;
}
.container_gauche_text-block1.hide, .container_gauche_text-block2.hide{
    width : 50%;
}

.button-64 {
    margin: auto;
    align-items: center;
    background-image: linear-gradient(144deg,var(--color-third), #ffffff 50%,var(--color-second));
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: var(--color-landing-page);
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-landing-page);
  }
  .text{
    font-weight: 600;
  }
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: #ffffffb1;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 18px;
      min-width: 196px;
    }
  }

@media screen and (max-width:500px) {
    
    .container_gauche_text-block1, .container_gauche_text-block2{
        width: 0%;
    }
    .container_gauche_text-subtitle{
        width: 100%;
    }

}