<div class="container">
    <div class="container_gauche">
        <div class="container_gauche_text">
            <div class="container_gauche_text-title">The Ultimate</div>
            <div class="container_gauche_text-subtitle">Creative</div>
            <div class="container_gauche_text-description">Website Builder</div>
            <div class="container_gauche_text-description2">Trusted by beginners, marketers & professionals; Built with usability and performance in mind</div>
            <div class="container_gauche_text-button">Start Building</div>
            


        </div>
        <div class="container_gauche_insight">
            <div class="container_gauche_insight-ca"></div>
            <div class="container_gauche_insight-experience"></div>
        </div>
    </div>
    <div class="container_droite">
       <img src="./../../../assets/images/landing.jpg" alt="" class="container_droite_image"> 
    </div>
</div>
