.container_order_add_input{
    display: flex;
    gap: 10px;
}

.mat-table {
    width: 100%;
    overflow: auto;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
    text-align: left;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 6px 10px -1px rgba(0,0,0,0.2), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  }
  .card_form_field_hidde{
    display: none;
  }

@media screen and (max-width:800px) {
    .container_order_add_input{
        flex-direction: column;
    }
    
}