<div class="container">
    <div class="container_order">
        <div class="container_order_list">

          <div class="container_order_list_reporting"> List des commandes</div>

            <div class="container_order_list_reporting_table">
                <mat-table [dataSource]="orders" class="mat-elevation-z8 container_order_list_reporting_table-container">
              
                  <!-- Column Definitions -->
                  <ng-container matColumnDef="companyName">
                    <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.companyName}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.fullName}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.email}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="dateOrder">
                    <mat-header-cell *matHeaderCellDef> Date of Order </mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.dateOrder | firebaseTimestamp | date: 'dd/MM/yyyy'}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let order"> {{order.status}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="ca">
                    <mat-header-cell *matHeaderCellDef> CA </mat-header-cell>
                    <mat-cell *matCellDef="let order" class="container_table_cell_last"> 
                      <div>{{order.ca}} </div>
                      <div class="container_table_cell_last_modification">
                        <div><mat-icon color="primary">edit</mat-icon></div>
                        <div><mat-icon color="primary">delete</mat-icon></div>
                      </div>
                      <!-- <mat-icon>delete</mat-icon> -->
                    </mat-cell>
                  </ng-container>
                
                  <!-- Row Definitions -->
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
        </div>
        <div class="container_order_add">
            <form [formGroup]="orderForm" class="card_form" (ngSubmit)="save()">
                
                <div class="container_order_add_input">
                    <mat-form-field class="card_form_field">
                        <mat-label>Nom entreprise</mat-label>
                        <input matInput formControlName="companyName">
                        <mat-error *ngIf="companyName?.hasError('required')" >
                            Nom entreprise est requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="card_form_field">
                        <mat-label>Nom et Prenom</mat-label>
                        <input matInput formControlName="fullName">
                        <mat-error *ngIf="fullName?.hasError('required')" >
                            Nom et Prénom est requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="card_form_field">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email?.hasError('required')" >
                            Email est requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="card_form_field">
                        <mat-label>Date de commande</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOrder">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="dateOrder?.hasError('required')" >
                            date de commande est requis
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of statusOptions" [value]="status">
                            {{ status }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>


                    <mat-form-field class="card_form_field">
                        <mat-label>Chiffre d'affaire</mat-label>
                        <input matInput formControlName="ca">
                    </mat-form-field>
                </div>
               
                <div class="card_form_submit">
                    <button type="submit" mat-raised-button color="primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
