.container{
    color: var(--color-landing-page);
}

.container_img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.container_bloc_title, .container_bloc_subtitle{
    display: flex;
    justify-content: center;
}

.container_bloc_title p {
    display: flex;
    border: 1px solid var(--color-third);
    padding: 20px;
    font-size: 40px;
    position: relative;
    transform: translateY(-60%);
    background-color: white;
    color: var(--color-landing-page);
    text-align: center;
}


.container_bloc_subtitle p {
    display: flex;
    font-size: 30px;
    color: var(--color-second);
    text-align: center;
}
.container_bloc_items{
    margin-top: 40px;
    overflow: hidden;
}

.container_bloc_item{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}
