<div class="container">
    <img class="container_img" src="./../../../assets/images/marketing.jpg" alt="">
    <div class="container_bloc">
        <div class="container_bloc_title">
            <p>{{title}}</p>
        </div>
        <div class="container_bloc_subtitle">
            <p>{{subtitle}}</p>
        </div>
        <div class="container_bloc_items">
             <div [ngClass]="{'container_bloc_item' : true}"  *ngFor="let phrase of phrases; let i = index">
                
                <app-box-effect1
                [index]=i
                [changeSense]="i % 2 === 1"
                [firstPhrase]="phrase.firstPhrase"
                [secondPhrase]="phrase.secondPhrase"
                >

                </app-box-effect1> 
           
            </div> 
        </div>
    </div>
</div>

