<div class="container">
    <div class="container_box">
        <div [ngClass]="{'container_box_slider' : true, 'loginDisplay': loginDisplay}">
            <div class="container_box_slider--register">
                <div class="formulaire">
                    <form  [formGroup]="registerForm" class="card_form" (ngSubmit)="signUp()">
                      <div class="card_form_container">
                        <mat-form-field class="card_form_field">
                          <mat-label>Name</mat-label>
                          <input matInput formControlName="name">
                          <mat-error *ngIf="name?.hasError('required')" >
                              Name is required
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="card_form_field">
                          <mat-label>Email adress</mat-label>
                          <input matInput formControlName="email">
                          <mat-error *ngIf="email?.hasError('required')" >
                              Email adress is required
                          </mat-error>
                          <mat-error *ngIf="email?.hasError('email')" >
                              Please enter valid email
                          </mat-error>
                      </mat-form-field>
                      <mat-form-field class="card_form_field">
                          <mat-label>Password</mat-label>
                          <input type="password" matInput formControlName="password">
                          <mat-error *ngIf="password?.hasError('required')" >
                              Password is required
                          </mat-error>
                      </mat-form-field>
                      <mat-form-field class="card_form_field">
                          <mat-label>Confirm password</mat-label>
                          <input type="password" matInput formControlName="confirmPassword">
                          <mat-error *ngIf="confirmPassword?.hasError('required')" >
                              confirmPassword is required
                          </mat-error>
                      </mat-form-field>
                      <mat-error *ngIf="registerForm.hasError('passwordsDontMatch')" >
                          Passwor don't match
                      </mat-error>
                      <div class="card_form_submit">
                          <button type="submit" mat-raised-button color="primary">Inscription</button>
                      </div>
                      </div>
                      
                        <!-- <div class="formulaire_box_component">
                          <div class="formulaire_box_component_label">Email:</div>
                          <div class="formulaire_box_component_input">
                            <input class="formulaire_box_component_input--input" type="email" formControlName="email">
                            <div class="formulaire_box_component_input--border"></div>
                          </div>
                        </div>
                        <div class="formulaire_box_component">
                          <div class="formulaire_box_component_label">Password:</div>
                          <div class="formulaire_box_component_input">
                            <input class="formulaire_box_component_input--input" type="password" formControlName="password">
                            <div class="formulaire_box_component_input--border"></div>
                          </div>
                        </div>

                        <div  class="formulaire_box_component">
                          <div class="formulaire_box_component_label">First Name:</div>
                          <div class="formulaire_box_component_input">
                            <input class="formulaire_box_component_input--input" type="text" formControlName="firstName">
                            <div class="formulaire_box_component_input--border"></div>
                          </div>
                        </div>
                        <div  class="formulaire_box_component">
                            <div class="formulaire_box_component_label">Last Name:</div>
                            <div class="formulaire_box_component_input">
                              <input class="formulaire_box_component_input--input" type="text" formControlName="lastName">
                              <div class="formulaire_box_component_input--border"></div>
                            </div>
                          </div>
                        <button type="submit" >create account</button>

                        
                        @if (submitted && fRegister['email'].errors) {
                          <div class="invalid-feedback">
                            @if (fRegister['email'].errors['required']) {
                            <div><span>Email</span>  is required</div>
                            }
                          </div>
                        }

                        @if (submitted && fRegister['email'].errors?.['email']) {
                          <div class="invalid-feedback">
                            @if (fRegister['email'].errors?.['email']) {
                            <div><span>Email</span> is not good</div>
                            }
                          </div>
                        }
                        @if (submitted && fRegister['password'].errors) {
                          <div class="invalid-feedback">
                            @if (fRegister['password'].errors) {
                            <div><span>Password</span>  need to be more longer than 6</div>
                            }
                          </div>
                        }
                        @if (submitted && fRegister['firstName'].errors) {
                          <div class="invalid-feedback">
                            @if (fRegister['firstName'].errors) {
                            <div><span>First Name</span>  need to be more longer than 1</div>
                            }
                          </div>
                        }
                        @if (submitted && fRegister['lastName'].errors) {
                          <div class="invalid-feedback">
                            @if (fRegister['lastName'].errors) {
                            <div><span>Last Name</span>  need to be more longer than 1</div>
                            }
                          </div>
                        } -->
                      </form>
                </div>
            </div>
            <div class="container_box_slider--login">
                 <div class="formulaire">
                  <form [formGroup]="loginForm" class="card_form" (ngSubmit)="login()">
                    <div class="card_form_container">
                    <mat-form-field class="card_form_field">
                        <mat-label>Email adress</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="loginEmail?.hasError('required')" >
                            Email adress is required
                        </mat-error>
                        <mat-error *ngIf="loginEmail?.hasError('email')" >
                            Please enter valid email
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="card_form_field">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error *ngIf="loginPassword?.hasError('required')" >
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <div class="card_form_submit">
                        <button type="submit" mat-raised-button color="primary">Connexion</button>
                    </div>
                    <button class="gsi-material-button" (click)="signInGoogle()">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                          <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                              <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                              <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                              <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                              <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                              <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                          </div>
                          <span class="gsi-material-button-contents">Sign in with Google</span>
                          <span style="display: none;">Sign in with Google</span>
                        </div>
                      </button>
                    </div>
                </form>
            
                    <!-- <form  class="formulaire_box" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                        <div class="formulaire_box_component">
                          <div class="formulaire_box_component_label">Email:</div>
                          <div class="formulaire_box_component_input">
                            <input class="formulaire_box_component_input--input" type="email" formControlName="email">
                            <div class="formulaire_box_component_input--border"></div>
                          </div>
                        </div>
                        <div class="formulaire_box_component">
                          <div class="formulaire_box_component_label">Password:</div>
                          <div class="formulaire_box_component_input">
                            <input class="formulaire_box_component_input--input" type="password" formControlName="password">
                            <div class="formulaire_box_component_input--border"></div>
                          </div>
                        </div>

                        <button type="submit" >login</button>
                        @if (submittedLogin && fLogin['email'].errors) {
                          <div class="invalid-feedback">
                            @if (fLogin['email'].errors['required']) {
                            <div><span>Email</span>  is required !!</div>
                            }
                          </div>
                        }

                        @if (submittedLogin && fLogin['email'].errors?.['email']) {
                          <div class="invalid-feedback">
                            @if (fLogin['email'].errors?.['email']) {
                            <div><span>Email</span> is not good</div>
                            }
                          </div>
                        }

                        @if (submittedLogin && fLogin['password'].errors) {
                          <div class="invalid-feedback">
                            @if (fLogin['password'].errors) {
                            <div><span>Password</span>  need to be more longer than 6</div>
                            }
                          </div>
                        }
                      </form>
                    </div> -->
            </div>
        </div>
        
    </div>
    <div class="container_box_choice">
      <div class="container_box_register" (click)="goToRegister()">
          <span>Inscription</span>
      </div>
      <div class="container_box_login" (click)="goToLogin()">
          <span>Connexion</span>
      </div>
  </div>
  <div [ngClass]="{'container_box_choice--background' : true, 'loginDisplay': loginDisplay}">

  </div>
</div>
