.container{
    margin-top: 40px;
    height: calc(100vh - var(--largeur-header));
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container_box{
    border: 1px solid black;
    height: 80vh;
    width: 450px;
    position: relative;
    overflow: hidden;
}

.container_box_slider{
    height: 100%;
    background-color: rgba( var(--color-second-rgb) , 0.26);
    width: 200%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    transition: left 1s ease;
}

.container_box_slider--register, .container_box_slider--login{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formulaire{
    width: 95%;
    height: 100%;
}

.card_form_container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.formulaire_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_box_slider.loginDisplay{
    left: -100%;
}

.formulaire_box_component{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulaire_box_component_input--input{
    outline: none;
    background: transparent;
    border: none;
    width: 100%;
}

.formulaire_box_component_input--border{
    height: 1px;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.container_box_choice{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;

}

.container_box_register, .container_box_login{
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box_choice--background{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 10%;
    width: 50%;
    background-color:  rgba( var(--color-second-rgb) , 1);
    z-index: -1;
    transition: left 1s ease;
}
.container_box_choice--background.loginDisplay{
    left: 50%;
}
.invalid-feedback{
    color: red;
    font-size: small;
}

span{
    font-weight: bold;
}

.card_form_submit{
    margin: auto;
}


.gsi-material-button {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    width: 200px;
    margin: auto;
    margin-top: 10px;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }


@media screen and (max-width:500px) {

    .container_box{
        height: 60vh;
        width: 90%;
    }

}
