.booooox{
    display: flex;
    position: relative;
}
.booooox.change_sense{
    justify-content: end;
}


.bar-middle{
    width: 1px;
    height: 100%;
    background-color: var(--color-third);
    position: absolute;
    right: 50%;
}
/* .container_bloc_item{
    position: relative;
    display: flex;
} */
/* .container_bloc_item.change_sense .booooox{
    justify-content: end;
} */
.container_bloc_item_bloc{

    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    width: 40%;
    background-color: var(--bg-gris-doux);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.container_bloc_item_bloc.change_sense{
    margin-left: unset;
    margin-right: 30px;
}
.container_bloc_item_index{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
    border: 1px solid var(--color-second);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_bloc_item_index_content{
    font-size: 40px;
}
.container_bloc_item_title{
    font-weight: 600;
    background-color: aqua;
    transition: all 2s ease-in-out;
}
.container_bloc_item_description{
    width: 70%;
    text-align: justify;
}