.booooox{
    display: flex;
    position: relative;
}
.booooox.change_sense{
    justify-content: end;
}



.bar-middle{
    width: 1px;
    height: 100%;
    background-color: var(--color-third);
    position: absolute;
    right: 50%;
}

.container_bloc_item_bloc{

    transform: translateX(-50%);
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    width: 40%;
    /* border: 1px solid var(--color-third); */
    background-color: var(--bg-gris-doux);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: transform 1s ease;
}
.container_bloc_item_bloc.gap-right{
    transform: translateX(50%);
    margin-right: 30px;
}




.container_bloc_item_bloc.swip-on-base{
    transform: translateX(0%);
}

.container_bloc_item_index{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
    border: 1px solid var(--color-second);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_bloc_item_index_content{
    font-size: 40px;
    font-weight: 600;
}
.container_bloc_item_title{
    font-weight: 600;
}
.container_bloc_item_description{
    width: 70%;
    text-align: justify;
}


@media screen and (max-width:700px) {
    .container_bloc_item_bloc.gap-right{
        margin: auto;
    }

    .container_bloc_item_bloc{
        margin: auto;
        width: 80%;
    }
    .bar-middle{
        display: none;
    }
    .container_bloc_item_description{
        width: 90%;
    }
}