<div [ngClass]="{'booooox':true, 'change_sense': changeSense}">
    <div [ngClass]="{'container_bloc_item_bloc':true }">
        <span class="bar-middle"></span>
        <div class="container_bloc_item_index">
            <div class="container_bloc_item_index_content">
                {{index+1}}
            </div> 
        </div>
        <p appEffectTest class="container_bloc_item_title">{{firstPhrase}}</p>
        <p class="container_bloc_item_description">{{secondPhrase}}</p>
    
    </div>
</div>

