<div [ngClass]="{'booooox':true, 'change_sense': changeSense}">
    <div appEffectTest [ngClass]="{'container_bloc_item_bloc':true, 'gap-right': changeSense }">
        <div class="container_bloc_item_index">
            <div class="container_bloc_item_index_content">
                {{index+1}}
            </div> 
        </div>
        <p class="container_bloc_item_title">{{firstPhrase}}</p>
        <p class="container_bloc_item_description">{{secondPhrase}}</p>
    
    </div>
    <span class="bar-middle"></span>
</div>

