<div [ngClass]="{'container_mobile':true, 'is_clicked':isClicked}">
    <div class="onglet" *ngFor="let onglet of onglets" (click)="navigateTo(onglet)">
        <div [ngClass]="{'onglet_name': onglet.getSousOnglets().length == 0}" >
            @if (onglet.getSousOnglets().length == 0){
                <span class="test">{{onglet.getName()}}</span>
            } @else{
                <div class="onglet_special">
                        <div class="onglet_special_mainonglet"> {{onglet.getName()}}</div>
                        <div  [ngClass]="{'onglet_special_sousonglet_container':true, 'active': onglet.getSousOngletsIsOpen()}">
                            <div 
                                class="onglet_special_sousonglet_container--item" 
                                *ngFor="let sousOnglet of onglet.getSousOnglets()"
                                (click)="navigateToSousOnglets(sousOnglet)"> 
                                <span class="item">{{sousOnglet.getShortName()}}</span> 
                            </div>  
                        </div>
                </div>
            }
        </div>

    </div>
</div>

