

.container_mobile{
    display: none;
}

@media screen and (max-width:500px) {
    .container_mobile{
        position: absolute;
        padding-left: 10px;
        font-size: large;
        background-color: rgb(var(--bleu-marine-rgb));
        color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 0px;
        overflow: hidden;
        top: var(--largeur-header);
        right: 0;
        transition: all 0.6s cubic-bezier(0.35, 0.16, 1, 1);
    }

    .container_mobile.is_clicked {
        height: 50vh;
        overflow :visible
    }

    .onglet{
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 10px;
    }
    .onglet_name{
        pointer-events: none;
    }

    .onglet_special{
        position: relative;
    }

    .onglet_special_sousonglet_container{
        position: absolute;
        font-size: large;
        background-color: rgba(var(--main-color-rgba), .8);
        color: var(--main-bg-color);
        overflow: hidden;
        top: 0%;
        right: 100%;
        width: 0px;
        height: 170px;
        display: flex;
        flex-direction: column;
        transition: width 1s ease;
    }

    .active{
        width: 130px;
    }

    .onglet_special_sousonglet_container--item{
        flex-grow: 1;
        cursor: pointer;
        border-bottom: 1px solid white;

    }

    .item{
        pointer-events: none;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4px;
    }

}