.header{
    position: sticky;
    /* backdrop-filter: blur(3px); */
    background-color: var(--bg-header);
    width: 100%;
    height: var(--largeur-header);
    display: flex;
    justify-content: space-between;
    /* font-size: 0.8rem; */
    font-weight: 400;
    top: 0;
    z-index: 5;
    }
    
.header_gauche{
  cursor: pointer;
  display: flex;
  flex-basis: var(--taille-standard);
  flex-shrink: 0;
  margin-left: 15px;
  min-width: 145px;

}
.header_gauche_image{
  align-self: center;
  
}

.header_gauche_image_logo{
  height: var(--largeur-header);
}

.header_gauche_titre{
  white-space: nowrap;
  margin-left: 10px;
  align-self: center;
  color: var(--color-writing-header);
  font-weight: var(--weight-font-header);
  font-size:  var(--size-font-header);
}

@media screen and (max-width:500px) {
.header_gauche_image_logo{
  height: calc(var(--largeur-header) - 18px);
}

.header_gauche{
    flex-shrink: 1;
}
}