<div class="header">
    
    <div class="header_gauche">
        <div class="header_gauche_image">
            <!-- <img class="header_gauche_image_logo" [src]="logo" alt="logo teach French And Arabic"> -->
            <img class="header_gauche_image_logo" src="./../../../assets/images/mowam-solutions-cadre-svg.svg" alt="logo teach French And Arabic"> 

            
        </div>
    </div>
    <div class="header_droite" (click)="getSomeThing()">
        {{this.connexion()?.email}}
    </div>
    
</div>