<div class="header">
    
    <div class="header_gauche">
        <div class="header_gauche_image">
            <!-- <img class="header_gauche_image_logo" [src]="logo" alt="logo teach French And Arabic"> -->
            <img class="header_gauche_image_logo" src="./../../../assets/images/Mowam-icon-solo.svg" alt="logo teach French And Arabic"> 

            
        </div>
    </div>
    <button 
    *ngIf="currentUser()"
    [mat-menu-trigger-for]="userMenu"
    >
        {{currentUser()?.email}}
        <mat-icon color="primary">expand_more</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-menu>
    
    
</div>