/* You can add global styles to this file, and also import other style files */
:root {

	/* Temmplate 1 */
	--bg-header :  #ffffff ;
	--bg-gris-doux: #F8F9FA;
	--color-writing-header: #343A40;
	--color-second : #4c94a4 ;
	--color-third: #9a8443;
	--color-bar-header :  #343A40;
	--color-landing-page : #343A40;




	--bleu-marine-rgb : 5, 6, 45;
	--bg-gris-doux-rgba: 248, 249, 250;
	--bg-gris-doux-rgba1: 248, 249, 250;
	--main-color-rgba: 56, 48, 38;
	--main-color2-rgba: 0, 121, 148;
	--main-color3-rgba: 18, 86, 135;

	--weight-font-header : 400;
	--size-font-header : x-large;
	--size-font-header-middle : large;

    --taille-standard : 225px;
	--largeur-header : 88px;
	--largeur-footer : 45px;
	--opacity:0.3; 
	/* Temmplate 1 
    --main-bg-color: #ffffff;
    --main-color: #000000;
    --bouton1-bg-color : #000000;
    --border1-color : #000000;
    --bouton1-color : #ffffff;
    --taille-standard : 225px;
	--largeur-header : 53px; */
	/* couleur-tabac: #9e561eff
	couleur-maduro :#383026ff
	couleur-kaki : #94812bff */
  }

  @font-face {
	font-family: 'Bebas Neue Pro Bold';
	src: url('./assets/fonts/Bebas-Neue-Pro-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Bebas Neue Pro Bold';
	src: url('./assets/fonts/Bebas-Neue-Pro-Bold-Italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Bebas Neue Pro Bold';
	src: url('./assets/fonts/Bebas-Neue-Pro-Regular.otf') format('opentype');
	font-weight: 500 ;
	font-style: normal;
  }

  @font-face {
	font-family: 'Bebas Neue Pro Bold';
	src: url('./assets/fonts/Bebas-Neue-Pro-Thin.otf') format('opentype');
	font-weight:300;
	font-style: normal;
  }

  @font-face {
	font-family: 'Bebas Neue Pro Bold';
	src: url('./assets/fonts/Bebas-Neue-Pro-Thin-Italic.otf') format('opentype');
	font-weight:300;
	font-style: italic;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Bebas Neue Pro Bold';
	/* font-family: "Roboto"; */
	/* font-family: 'Work Sans', sans-serif; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

