.container{
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 60px;
    bottom: 0px;
    height: var(--largeur-footer);
    width: 100%;
    background-color: rgba( var(--color-second-rgb), 0.7);
}

.container_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mat-icon-color);
}
.container_item_text{
    text-transform: uppercase;
}