<div class="container">
        <a  class="container_item" href="mailto:mohammed.raki26@gmail.com?subject=Demande%20d%27information%MOWAM%Solution%20%5BNom%3BPr%C3%A9nom%5D&body=Bonjour%2C%20je%20souhaite%20avoir%20des%20renseignements%20%C3%A0%20propos%20de%20vos%20services%2C%20plus%20pr%C3%A9cis%C3%A9ment%20de%20%5BVotre%20demande%5D.%20Vous%20pouvez%20me%20contacter%20au%20XX%20XX%20XX%20XX%20XX%2E">
            <div class="container_item_icon">
                <mat-icon style="color: var(--mat-icon-color);">email</mat-icon>
            </div>
            <div class="container_item_text">MAIL</div>
        </a>
        <a class="container_item" href="tel:+33663176146">
            <div class="container_item_icon">
                <mat-icon>phone</mat-icon>
            </div>
            <div class="container_item_text">tel</div>
        </a>
</div>
