<div class="container">
    <div class="container_main">
        <div class="container_main_trait--haut"></div>
        <div class="container_main_trait--bas"></div>
        <div class="container_main_block1">

            <h3 class="container_main_block1--title">Derrière le Code : L'Artisan de Votre Espace Web </h3>
            <h4 class="container_main_block1--subtitle">Plongez dans l'univers de  <span class="gras"> Mohammed-yassine </span>, un parcours semé d'expériences chez Sopra Steria, Yves Rocher, Michelin, et une passion pour façonner le web de demain.</h4>

        </div>
        <div class="container_main_block2"></div>
        <img src="./../../../assets/images/application-web.jpg" class="container_main_background">
        <div  class="container_main_background--filter"></div>
    </div>

    <div class="container_second">


    <div class="container_a_propos">

        <div>
            Bienvenue sur la page qui vous en dira un peu plus sur l'âme derrière <span class="gras">Mowam Solution</span> , moi-même, <span class="gras"> Mohammed-Yassine Raki </span>. Avec un parcours académique riche couronné par des diplômes prestigieux dans le domaine de l'informatique et du développement web, ma passion pour la technologie a toujours été le moteur de ma carrière.
        </div>
        
        <div>
            Mon voyage professionnel a commencé chez <span class="gras">Yves Rocher</span>, j'ai eu l'opportunité d'explorer l'intersection entre le développement web et l'e-commerce. Travailler dans un environnement axé sur le consommateur m'a permis de développer une compréhension profonde de l'importance de l'expérience utilisateur, tout en me permettant de contribuer à la croissance digitale d'une marque internationalement reconnue.
        </div>
         
        <div>
            Ensuite, <span class="gras">Sopra Steria</span>, où j'ai plongé dans le monde fascinant du développement logiciel, travaillant sur des projets qui non seulement m'ont permis de mettre en pratique mes connaissances académiques mais aussi d'affiner mes compétences à travers des défis techniques complexes. Cette expérience a été le premier jalon d'un parcours professionnel riche et diversifié.
        </div>
        
        <div>
            Ma curiosité et ma soif d'apprendre m'ont ensuite mené à <span class="gras">Michelin</span>, où j'ai pu contribuer à des projets à la pointe de l'innovation, en mettant l'accent sur l'amélioration de l'expérience client à travers des solutions numériques créatives. Cette étape a renforcé ma conviction que la technologie, lorsqu'elle est bien appliquée, peut transformer les entreprises et enrichir la vie des gens.
        </div>
          
        <div>
            Aujourd'hui, à travers <span class="gras">Mowam Solution</span> , je mets toute cette richesse d'expérience, de passion et de savoir-faire à votre service. Que ce soit pour développer un site web captivant, créer des solutions logicielles sur mesure ou transformer votre présence digitale, je suis ici pour vous aider à réaliser vos ambitions numériques.
        </div>
        
        <div>
            Chez <span class="gras">Mowam Solution</span> , nous croyons que derrière chaque ligne de code, il y a une personne qui rêve de créer quelque chose d'unique et d'impactant. C'est cette philosophie qui guide chacun de nos projets, assurant que nous livrons non seulement des solutions technologiques de premier ordre, mais aussi une expérience personnalisée qui résonne avec vous et vos clients.
        </div>
          
        <div>
            Je vous invite à explorer notre site pour découvrir en détail nos services et à me contacter directement pour discuter de vos projets et de la manière dont nous pouvons vous accompagner dans votre réussite digitale.
        </div>
        
    </div>
    <img class="image-about" src="./../../../assets/images/mowam-about.webp" alt="">
    </div>
</div>